<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ae9868">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-between">
      <a class="navbar-brand" href="landing"><img class="img-profile" style="height: 35px; width: 35px; margin-top: 5px"
          src="assets\img\logo.png" alt=""></a>
    </div>

    <a href="landing()"><img class="img-profile" style=" visibility: hidden; height: 35px; width: 35px; margin-top: 5px"
        src="assets\img\logo.png" alt=""></a>
    <button class="navbar-toggler" style="margin-left: auto;" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- sicuramente la parte (href="landing") è sbagliata però se mettevo il comando (click)=landing() non andava -->

    <div class="collapse navbar-collapse justify-content-between collapse" id="navbarNav">

      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onclick()">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div>
        <button class="btn btn-outline-dark" style="margin-right: 10px;" (click)="signup()">sign up</button>
        <a href="login()"><img class="border border-dark rounded-circle"
            style="height: 32px; width: 32px; margin-top: 5px;" src="assets\img\profile-icon-png-898.png" alt=""></a>
      </div>
    </div>
  </div>
</nav>