<div class="container"></div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\img\download.jpg" class="d-block w-100" style="height: 550px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets\img\download1.png" class="d-block w-100" style="height: 550px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets\img\download2.jpg" class="d-block w-100" style="height: 550px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--<div style="height: 50%; background-color: grey;">

    <h1 class="justify-content-center" style="display: flex; color: #bf2033;"><strong>I
            CORSI</strong></h1>

    <div class="justify-content-between" style="display: flex; margin-left: 15%; margin-right: 15%; margin-top: 5ex;">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-app" viewBox="0 0 16 16">
                <path
                    d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-app" viewBox="0 0 16 16">
                <path
                    d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-app" viewBox="0 0 16 16">
                <path
                    d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg></a>
    </div>
</div>-->
<div class=""
    style="display: block; padding-top: 64px; padding-bottom: 100px; margin-bottom: 0px; background-color: grey;">
    <div class="justify-content-center" style="color: #f0f0f0;">
        <h2 style="letter-spacing: 0px; font-size: 36px; text-align: center; font-weight: bold; padding-bottom: 4%;">I
            CORSI
        </h2>
    </div>
    <div class="justify-content-between" style="display: flex; margin-right: 15%; margin-left: 15%;">
        <a href=""><img src="https://www.scuolaitalianadifesapersonale.com/wp-content/uploads/2017/06/grades.png"
                style="height: 150px; width: 150px;" alt=""></a>

        <a href=""><img src="https://www.scuolaitalianadifesapersonale.com/wp-content/uploads/2017/06/grades.png"
                style="height: 150px; width: 150px;" alt=""></a>

        <a href=""><img src="https://www.scuolaitalianadifesapersonale.com/wp-content/uploads/2017/06/grades.png"
                style="height: 150px; width: 150px;" alt=""></a>
    </div>
</div>
<div>
    <div class="justify-content-center" style="display: flex; margin-top: 5%;">
        <h1 style="margin-top: 16px; color: black; font-size: 36px;"><strong>DOVE PUOI TROVARCI</strong></h1>
    </div>
    <!--Google map-->
    <div style="display: flex; margin-left: 14%; margin-top: 4%;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1QxXarkFwI-4gVkziu_bprqVIIeGA1A5X&ehbc=2E312F"
            width="550" height="550" style="margin-bottom: 100px;">
        </iframe>
        <div style="overflow:auto; margin-left: 3%; width: 350px; height:550px; color: #777777;">
            <ul>
                <li style="list-style: none; background-color: #FAFAFA; padding: 16px; display:list-item;">
                    <div>
                        <p>
                            <strong>Anagni</strong>
                        </p>

                        <p>
                            <a href="" tabindex="0"> More info</a>
                        </p>
                    </div>
                </li>
                <div>

                    <ul class="dropdown-menu d-block position-static mx-0 shadow w-220px">
                        <li>
                            <p>
                                <strong>Anagni</strong>
                            </p>
                            <p>
                                <a class="dropdown-item d-flex gap-2 align-items-center" href="#tenda">More info</a>
                            </p>
                            <div id="tenda" style="display: block; overflow: hidden; list-style: none outside none;">
                                <h1>sussy</h1>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <!--Google Maps-->
</div>
<div class="album py-5 bg-dark">
    <div class="container">
        <div class="justify-content-center" style="display: flex;">
            <h1 style="color: white; font-size: 36px;"><strong>PROGETTI</strong></h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-top: 10px;">
            <div class="col">
                <div class="card shadow-sm" style="background-color: #ae9868;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="width: 100px; border-color: #f0f0f0; color: #f0f0f0;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: #ae9868;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="width: 100px; border-color: #f0f0f0; color: #f0f0f0;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: #ae9868;">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    style="width: 100px; border-color: #f0f0f0; color: #f0f0f0;">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram" />
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook" />
                        </svg></a></li>
            </ul>
        </div>
    </footer>
</div>